* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    position: relative;
    width: fit-content;

    div.stats {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        div.health {
            position: relative;

            div#player1Health {
                position: absolute;
                right: 0;
                height: 30px;
                width: 0px;
                background-color: orange;
                transition: 0.2s;
            }

            div#player2Health {
                position: absolute;
                left: 0;
                height: 30px;
                width: 0px;
                background-color: pink;
                transition: 0.2s;
            }

            div.health-bar {
                background-color: whitesmoke;
                height: 30px;
                width: 300px;
            }
        }

        div.timer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
            height: 70px;
            width: 70px;
            border-radius: 25px;
        }
    }

    div#displayText {
        position: absolute;
        color: white;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        font-size: 25px;
    }
}
